html {
	/*background: rgb(175,19,190);*/
	/*background: linear-gradient(180deg, rgba(175,19,190,1) 0%, rgba(42,194,181,1) 50%, rgba(236,100,14,1) 100%);*/
	/*background: #fcab8d;*/ /*this one is orange/peachy*/
	/*background: #c09eeb;*/
	background: #c4b0cc; /*this one is purple-ish*/
	/*background:#b6afa6;*/ /*this one is tan/sandy*/
	/*background: #7f7568; *//*a darker tan/brown */
	background-repeat: no-repeat;
	min-height: 100%;
}


body {
	color: #000000;
}

h2 {
	margin-bottom: -5%;
	font-family: 'Ubuntu', sans-serif;
}

/* 
nav {
	color: #FFFFFF;
	font-size: 18pt;
	font-family: 'Ubuntu', sans-serif;
	text-align: left;
	margin-left: 5%;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	padding-top: 20%;
}

nav li a:link{
	color: #000000;
	border: 3px solid #000000;
	border-radius: 50px;
	text-decoration: none;
	padding: 10px;
}

nav li a:visited {
	color: #000000;
}

nav li a:active {
	color: #000000;
}

nav li a:hover{
	color: rgba(42,194,181,1);
	background-color: #000000;
}
 */



.splash a:link,a:visited,a:active,a:hover {
	/*color: #000000;
	border: 3px solid #000000;*/
	/* 
background-color: #000000;
	color: #DDDDDD;
 */
	border-radius: 50px;
	text-decoration: none;
	padding: 10px;
	/*opacity: 0.65;*/
}

/*.splash a:hover {
	color: rgba(42,194,181,1);
	background-color: #000000;
}*/

.splash {
	align-content: center;
	padding-left: 5%;
	padding-right: 5%;
	/* z-index: -1; */
	/*padding-top: 5%;*/
}

#inthebackground {
	background-color: #000000;
	color: #DDDDDD;
	margin-top: 20px;
	padding-left:2%;
	padding-right:2%;
	/* padding-bottom:2%; */
	border: 3px solid #000000;
	border-radius: 50px;
	opacity: 0.85;
	/* z-index: 0; */
	font-family: 'Ubuntu', sans-serif;
	max-height: 480px; 
	min-height:480px;
	overflow: scroll;
	position: relative;
}

.foot {
    position:absolute;
    bottom:0;
    margin-bottom: 8px;
    padding: 2px;
    float: left;
    margin-left: 38%;
    align-content: center;
}

/* 
.foot {
/* 
background-color: none;
color: #000000;
 */

/* opacity: 0.85; */
/* 
background-color: #000000;
color: #DDDDDD;
width: 50%;
border-radius: 50px;
padding: 8px;
	position: absolute;
	margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
margin-top: 30px;

left: 0;
right: 0;
bottom: 0;
text-align: center;
}

 */

/* 
#footernav {
	padding-left: 15%;
	padding-right: 15%;
	font-size: 20pt;
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Roboto Condensed', sans-serif;*/
	/* 
font-family: 'Ubuntu', sans-serif;
	text-align: center;
	padding: 10px;
}
 */

.splash p, ol li {
	padding-left: 7.5%;
	padding-right: 7.5%;
	font-size: 12pt;
	font-family: 'Ubuntu', sans-serif;
	/*
	font-family: 'Roboto Condensed', sans-serif;*/
	/*font-family: 'Lato', sans-serif;*/
	text-align: left;
}

#verticalaligngrid {
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	/*font-size: 16pt;*/
}

#verticalaligngrid p {
	font-size: 16pt;
}

.statementgrid {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	width: 100%;
	align-content: center;
	padding-left: 5px;
	padding-right: 5px;
}

.statementgrid a {
	color: #75adff;
}
/* 

.cfgrid {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	width: 100%;
	align-content: center;
	padding: 5px;
}
.cfgrid a {
	color: #75adff;
}

.cfgrid p {
text-align: center;
}
 */
 
 .cfgrid {
	display: grid;
	grid-template-columns: 3fr;
	width: 100%;
	align-content: center;
	padding: 5px;
}
.cfgrid a {
	color: #75adff;
}

.cfgrid p {
text-align: center;
}

#calstyle {
	overflow: scroll;
	margin-top: 20px;
	padding-top: 10px;
	align-content: center;
}

.splashgrid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	width: 100%;
	align-content: center;
}

.splashgrid p{
	vertical-align: middle;
	padding-left: 7.5%;
	padding-right: 7.5%;
	font-size: 12pt;
	font-family: 'Ubuntu', sans-serif;
	/*
	font-family: 'Roboto Condensed', sans-serif;*/
	/*font-family: 'Lato', sans-serif;*/
	text-align: left;
}

.footergrid {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	width: 100%;
	align-content: center;
	padding: 10px;
}

/* All below is taken from W3 Schools*/
 /* Navbar container */
.navbar {
  margin: 10px;
  overflow: hidden;
  background-color: #000000;
  color: #DDDDDD;
  /* opacity: 1; */
  border-radius: 50px;
  font-family: 'Ubuntu',sans-serif;
/*   z-index: 1; */
  font-size: 18pt;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  border-radius: 50px;
}

/* Dropdown button */
.dropdown .dropbtn {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18pt;
  border: none;
  border-radius: 50px;
  outline: none;
  color: #DDDDDD;
 /* opacity: 0.65;*/
  /*padding: 14px 16px;*/
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
/*background-color: rgba(175,19,190,1);*/
background-color: #75adff;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 180px;
  border-radius: 20px;
  outline: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  font-size: 12pt;
  color: #DDDDDD;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: none;
  outline: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #89b169; /* green */   /*rgba(42,194,181,1);*/
  /* background-color: #c4b0cc; */  /* purple */
  color: #000000;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 

/* This portion adapted from W3 Schools */
/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
 /* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 
