html {
	background: rgb(175,19,190);
	background: linear-gradient(180deg, rgba(175,19,190,1) 0%, rgba(42,194,181,1) 50%, rgba(236,100,14,1) 100%);
	background-repeat: no-repeat;
	min-height: 100%;
}


body {
	color: #000000;
}

nav {
	color: #FFFFFF;
	font-size: 18pt;
	font-color: #FFFFFF;
	font-family: 'Ubuntu', sans-serif;
	text-align: left;
	margin-left: 5%;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	padding-top: 30%;
}

nav li a:link{
	color: #000000;
	border: 3px solid #000000;
	border-radius: 50px;
	text-decoration: none;
	padding: 10px;
}

nav li a:visited {
	color: #000000;
}

nav li a:active {
	color: #000000;
}

nav li a:hover{
	color: rgba(42,194,181,1);
	background-color: #000000;
}

.splash a:link,a:visited,a:active,a:hover {
	/*color: #000000;
	border: 3px solid #000000;*/
	background-color: #000000;
	color: #DDDDDD;
	border-radius: 50px;
	text-decoration: none;
	padding: 10px;
	opacity: 0.65;
}

/*.splash a:hover {
	color: rgba(42,194,181,1);
	background-color: #000000;
}*/

.splash {
	align-content: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}

#background {
	background-color: #000000;
	color: #DDDDDD;
	padding:2%;
	border: 3px solid #000000;
	border-radius: 50px;
	opacity: 0.65;
}

#footernav {
	padding-left: 15%;
	padding-right: 15%;
	font-size: 20pt;
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	padding: 10px;
}

.splash p {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 20pt;
	font-family: 'Ubuntu', sans-serif;
	/*
	font-family: 'Roboto Condensed', sans-serif;*/
	/*font-family: 'Lato', sans-serif;*/
	text-align: center;
}

.footergrid {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	width: 100%;
	align-content: center;
	padding: 10px;
}

/*.grid-one{
}

.grid-two{
	align-content: center;

}

.grid-three{

}

.grid-container {
  display: grid;
  grid-template-columns: 15% 85%;
}*/

/*#grid-two {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5%;
	border: 3px solid #000000;
	border-radius: 50px;
	min-height: 400px;
}

#grid-two h3 {
	font-size: 20pt;
	font-family: 'Lato', sans-serif;;
}

#grid-two p {
	font-family: 'Lato', sans-serif;
	font-size: 16pt;
}
*/